*{
    padding: 0;
    margin: 0;
    font-family: Arial;
    border: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color:white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.navbar{
    width: 100%;
    height: 10vh;
    background-color:  rgb(37, 61, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    
}
/* .navbar:hover{
    background-color: transparent;
} */
 .fake-navbar{
    width: 100%;
    height: 10vh;
 }
 .logo{
    background-image: url("MEU logo.png");
    background-size: cover;
   height: 60px;
   width: 60px;
   margin-left: 20px;
   margin-right: 40px;
  
   
 }
.icon{
    color: rgb(117, 117, 117);
    margin-right: 10px;
    font-weight: 900;
}
.explore{

    padding: 5px;
    border-radius:3px ;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    color: rgb(255, 202, 138);
    font-weight: 800;


}
.explore:hover{
    color: white;
}
.search{
    color: rgb(91, 91, 91);
    display: flex;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    height:40px ;
    background-color: rgb(246, 246, 225);
    width: 30%;
    
    border-radius: 10px;
}
/* .search-input{
    width: 100%;
    border: none;
    background-color: transparent;
} */
.search:hover{
    color: black;
}
.content{
    margin-left: 30px;
    
    padding: 7px;
    border-radius: 8px;
    color: rgb(255, 202, 138);
}
.content:hover{
    color: rgb(255, 255, 255);
}
.rest{
    height: 80%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
}
.contact{
    color:rgb(255, 202, 138);
    padding: 7px;
    
    
    
}
.contact:hover{
    color: rgb(255, 255, 255);
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.8px solid rgb(255, 255, 255);
}
.nav-border{
    border: 2px solid transparent;
}
.nav-border:hover{
    border: 3.5px solid rgb(255, 202, 138);
}
.login{
    height: 60%;
    width: 7%;
     background-color:rgb(64, 101, 70);
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
    color: rgb(255, 202, 138);
    border-radius: 9px;
    font-size: large;
    margin-left: 20px;
    margin-right: 0px;
    font-weight: 900;
    
   
}
.login p{
    margin-left: 4px;
}
.login:hover{
    color: white;
    background-color: rgb(37, 61, 41);;
}


.page1{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(246, 246, 225);
}
.back-img{
    background-image: url("Delhi\ body22.png");
    background-size: cover;
    
    width: 100%;
    height: 100%;
}

.page2{
    height: 305vh;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    background-color: rgb(246, 246, 225);
  
    /* border: 1px;
    border-color: rgb(0, 0, 0);
    border-style: dashed; */
}
.main{
    display: flex;
    justify-content: center;
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
height: 50px;
width: 20%;
margin-top: 30px;
border-radius: 50px;
color: rgb(92, 92, 92);
background-color: rgb(255, 255, 255);
font-family: 'Trebuchet MS';
font-size:xx-large;
font-weight: bold;
/* 
background: red; */
transition: width 1s;
transition-delay: 0s;

}
.text:hover{
    border-radius: 50px;
    height: 50px;
    width: 95%;
    /* color: rgb(64, 101, 70); */
    
}
.section-1{
    margin-top: 90px;
    height: 500px;
    width: 100%;
    background-color:transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.boxx{
    height: 500px;
    width: 300px;
    border-radius: 10px;
    background-color:rgb(255, 215, 165);
  
    
    /* display: flex;
    justify-content: center; */
}
.boxx:hover{
    box-shadow: 0 4px 30px 0 rgb(76, 122, 84), 0 6px 20px 0 rgba(12, 11, 11, 0.19);
}
.half1{
    width: 100%;
    height: 0%;
}
.half2{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
}

.boxxx{
    height: 37%;
    width: 100%;
    /* border-radius: 10px;
    background-color:rgb(255, 202, 138); */
    display: flex;
    justify-content: center;
}
.box-img{
    border-radius: 5px;
    background-size: contain;
    margin-top: 0.7rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 279px;
    height: 157px;
}
.details{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* background-color: blanchedalmond; */
 margin-left: 10px;
    height: 100%;
    width: 80%;
    color: rgb(20, 86, 32);
     font-size: x-large;
     font-weight: bold;
    
    
}
.half3{
    /* background-color: rgb(47, 6, 86); */
    width: 100%;
    height: 27%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.key-features{
    display: flex;
    /* align-items: center; */
margin-left: 40px;
    width: 80%;
    height: 100%;
    color: rgb(20, 20, 21);
    /* background-color: antiquewhite; */
}
.key-features ul{
    display: block;
}
.key{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.key p{
    font-weight: 700;
    margin-left: 10px;
}
.half4{
    width: 100%;
    height: 20%;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    height:60% ;
    width: 85%;
    border-radius: 50px;
    background-color:rgb(64, 101, 70);
}
.button:hover{
    background-color:  rgb(37, 61, 41);
   
}
.button div:hover{
    color: white;
}

/* .button .get:hover{
    color: white;
} */

.know{
    color: rgb(255, 202, 138);
   margin-left: 80px;
   margin-top: 5px;
    font-size: large;
    font-weight: 700;
}
.get{ 
    color: rgb(255, 202, 138);
    margin-left: 63px;
    font-size: x-large;
   
    font-weight: 600;

}
.section-2{
    margin-top: 130px;
    height: 500px;
    width: 100%;
    background-color:transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.section-3{
    margin-top: 130px;
    height: 500px;
    width: 100%;
    background-color:transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
footer{
    width: 100%;
    height: 40vh;
    background-color:rgb(35, 62, 39);
}
.back-to{
    height: 20%;
    width: 100%;
    background-color: rgb(64, 101, 70);
    color: rgb(255, 202, 138);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 600;
}
.back-to:hover{
    background-color:  rgb(37, 110, 50);
    
}
.others{
    height: 50%;
    width: 100%;
    background-color: transparent;
}

.terms{
    height: 30%;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.terms p{
    margin-left: 15px;
}